/*Section Players*/
#players{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    
    -webkit-justify-content:  space-around;
    -moz-justify-content:  space-around;
    -ms-justify-content:  space-around;
    justify-content:  space-around;
    
    width: 100%;
    
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}
#container_players{
    
}
#top{  
    background: url("../img/papiro_top.png") no-repeat;
    background-size: 100% 100%;
    width: 800px;
    height: 158px;
}
#players_list{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    
    -webkit-align-content:  space-around;
    -moz-align-content:  space-around;
    -ms-align-content:  space-around;
    align-content:  space-around;
    
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    width: 800px;
    height: 500px;
    color: white; 
    
    background: url("../img/papiro.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -5px;
    
}
#bottom{
    background: url("../img/papiro_bottom.png") no-repeat; 
    background-size: 100% 100%; 
    width: 800px; 
    height:158px; 
    margin-top: -2px;}
.player{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    
    border-top: 31.25px;
    border-bottom: 31.25px;
    width: 660px;
    height: 125px;
}
/*div info*/
.info{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    
    -webkit-justify-content:  space-around;
    -moz-justify-content:  space-around;
    -ms-justify-content:  space-around;
    justify-content:  space-around;
    
    
    height: 125px;
    width: 155px;
}
.name{
    width: 150px;
    height: 20px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 1px black;
    text-align: center;
}
.avatar{
    width: 150px;
    height: 100px;
}
/*div atributs*/
.atri{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-justify-content:  space-around;
    -moz-justify-content:  space-around;
    -ms-justify-content:  space-around;
    justify-content:  space-around;
    
    height: 125px;
    width: 500px;
}
.atri p{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    
    -webkit-justify-content:  space-around;
    -moz-justify-content:  space-around;
    -ms-justify-content:  space-around;
    justify-content:  space-around;
    
    height: 25px;
    width: 100px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 1px black;
}
.atri_div{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    
    -webkit-justify-content:  space-around;
    -moz-justify-content:  space-around;
    -ms-justify-content:  space-around;
    justify-content:  space-around;
    
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
#div_color{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
#color_2{
    background-color: red;
    width: 30px;
    height: 20px;
}

/*Section  calendar_ready*/
#calendar_ready{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-justify-content:  space-around;
    -moz-justify-content:  space-around;
    -ms-justify-content:  space-around;
    justify-content:  space-around;
    
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-align-items: center;
    align-items: center;
    
    
}
#calendar{
    height: 450px;
    width: 450px;
    
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 5px black;
    
}
#ready_button{
      height: 30px;
    width: 75px;
}

